#logout-button {
  margin: 0;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
#logout-button:hover {
  background: #fff;
  color: #1aab8a;
}
#logout-button:before,
#logout-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
#logout-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#logout-button:hover:before,
#logout-button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
