.white {
  color: white;
}

#clock {
  margin-bottom: 0;
  font-size: 7.5rem;
  font-family: "Poiret One", cursive;
}

.font-ys {
  font-family: "Yeon Sung", cursive;
}

#greeting {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 3rem;
}

#quote {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#quote span:first-child {
  font-size: 1.3rem;
}

#quote span:last-child {
  margin-top: 10px;
  font-size: 1rem;
}

#weather {
  font-family: Arial, Helvetica, sans-serif;
}
